body {
    background-color: windowframe;
}

#techp {
    display: inline-block;
}

#techimg {
    display: inline-block;
}

body {
    background-image: url(http://images5.alphacoders.com/289/289599.jpg);
    background-color: #cccccc;
}